<div class="container p-3">
  <h1><%= @task.title %></h1>
  <p><%= @task.details %></p>
  <% if @task.completed %>
    <p>Complete!/p>
  <% else %>
    <p>Not complete</p>
  <% end %>
  <%= link_to "Home", tasks_path, class: "btn btn-secondary" %>
  <%= link_to "Edit", edit_task_path, class: "btn btn-secondary" %>
  <%= link_to "Delete", task_path(@task), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn btn-secondary" %>
</div>
